*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #2d3cfd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 350px;
    height: 450px;
    perspective: 1500px;
}

#check{
    display: none;
}

#check:checked ~ .content{
    animation: 2s animate;
    transform: rotateY(180deg);
}
@keyframes animate {
    0%{
        transform: translateZ(0px);
    }    
    50%{
        transform: translateZ(100px);
    }    
    100%{
        transform: rotateY(180deg);
    }    
}
 .content{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 1s cubic-bezier(0.75, 0, 0.85, 1);
    border-radius: 8px;
 }
 .front, .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eff0fa;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    perspective: 1500px;
    border-radius: 15px;
 }
 .back{
    transform: rotateY(180deg);
 }
 .inner{
    height: 100%;
    padding: 1.5em;
    transform: translateZ(80px) scale(1);
 }
 h2{
    position: absolute;
    top: 50px;
    left: 37%;
    font-size: 28px;
    color: #2d3cfd;
    font-weight: bold;
 }
 p{
    color: #2d3cfd;
    font-size: 15px;
    padding: 7px;
    margin-top: 70px;
    text-align: justify;
    line-height: 1.4em;
 }